:root{
    /*colors*/
    --bg: #ef7c24;
    --bgmid: #f4ab6c;
    --bgform: #fffcfa;
    --text: #fff6f0;
    --shadow: #dd1f13;

    /*border-radius*/
    --borradlarge: 30px;
    --borradmid: 12px;
    --borradsmall: 3px;
    
    /*width*/
    --w80: 80vw;
    --w50: 50vw;
    --w20: 20vw;

    /*margin*/ 
    --m25: 25px;
    --m5: 5px;

    /*photo sizing*/
    --photo: 150px;

    --boxshadow: 1px 1px 3px var(--shadow);
    --border1: 1px solid var(--shadow);
}

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}

/*fonts*/
.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

 @font-face {
    font-family: 'lifelogo'; 
    src: url('/resources/LifelogoEasy-0qvz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}



/*header styles*/
header{
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: 27% 0;
    background-size: 350px;
    min-height: 250px;
    width: var(--w80);
    margin: auto;
    margin-top: 4vh;
    padding-top: 5vh;
}

.title{
    width: var(--w50);
    background-color: var(--bg);
    color: var(--text);
    text-align: right;
    border-radius: var(--borradlarge) ;
    padding: var(--m25);
    margin: 0 4vw auto auto;
    position: relative;
    z-index: -1;
}

.title p{
  font-family: "Delius", cursive;
}

h1{
    font-size: 3em;
    font-family: "lifelogo";
}

h2, h3{
    font-family: "lifelogo";
}

#logo{
    width: 350px;
    position: absolute;
    left: 3vw;
    
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 2vh 4vw auto auto;
}

nav li{
    list-style-type: none;
}

nav li a{
    text-decoration: none;
    background-color: var(--bgform);
    color: var(--bg);
    font-weight: bold;
    font-size: 1.5em;
    border: 1px solid var(--bg);
    border-radius: var(--borradmid);
    box-shadow: var(--boxshadow);
    padding: var(--m5);
    margin: var(--m25);
}

nav li a:hover{
    background-color: var(--shadow);
    color: var(--text);
    border: var(--border1);
}

nav li a:visited{
    font-weight: bolder;
    color: var(--shadow);
}

/*body styles*/
body{
    background-color: var(--text);
    font-family: "Delius", cursive;
}

 /*grid setup*/
.indexMain{
    width: var(--w80);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "forms forms menu menu menu menu menu"
    "forms forms menu menu menu menu menu"
    "forms forms menu menu menu menu menu"
    "forms forms menu menu menu menu menu"
    "forms forms foodpic foodpic foodpic foodpic foodpic"
    "forms forms foodpic foodpic foodpic foodpic foodpic";
    gap: 10px;
}

.forms{
    grid-area: forms;
}   

#menu{
    grid-area: menu;
}

#menu table {
  min-width: 100%;
  max-width: 100%;
}

.foodPic{
    grid-area: foodpic;
    display: flex;
    justify-content: space-around;
}

h2{
    background-color: var(--bg);
    color: var(--text);
    text-align: center;
    width: fit-content;
    padding: 10px;
    border-radius: var(--borradmid);
}

/*form styles*/
form{
    border: 5px double var(--bg);
    border-radius: var(--borradmid);
    background-color: var(--bgform);
    padding: var(--m25);
    margin: var(--m25) 0;
    display: grid;
}

form h2{
    margin: auto;
    width: fit-content;
    margin-top: -6vh;
}

label{
    display: block;
    margin:10px 0;
}

#bookSelection{
    background-color: var(--text);
    width: fit-content;
    margin: auto;
    padding: var(--m5);
    border: var(--border1);
    border-radius: var(--borradsmall);
    display: inline-block;
}

form input[type=submit]{
    font-family: "lifelogo";
    cursor: pointer;
    background-color: var(--text);
    color: var(--bg);
    border: var(--border1);
    border-radius: var(--borradmid);
    box-shadow: 2px 2px 4px var(--shadow);
    font-family: "Delius";
    font-weight: bolder;
    padding: 15px;
    margin: 15px auto;
}

form input[type=submit]:hover {
    font-family: "lifelogo";
    background-color: var(--shadow);
    color: var(--bgform);
}

form input[type=checkbox]:hover, form input[type=radio]:hover{
    box-shadow: 1px 1px 3px var(--shadow);
}

form label input, textarea{
    background-color: var(--text);
    border: var(--border1);
    border-radius: var(--borradsmall);
}

textarea{
    padding: 10px;
    margin: 10px;
}

label[name="rulesCheck"]{
    font-style: italic;
}

/*contact form page*/
.contact form{
    width: 50vw;
    margin: auto;
}

/*table styles*/
#menu h2{
    font-size: 2em;
    margin: auto;
}

table thead{
    color: var(--bg);
    font-size: 2em;
}

th{
    background-color: var(--bgform);
    border-bottom: var(--border1);
    border-radius: var(--borradlarge);
    box-shadow: var(--boxshadow);
}

table tbody{
    background-color: var(--bgmid);
}

tr:nth-child(odd){
    background-color: var(--bgform);
}

td{
    padding:var(--m5);
}

table span{
    font-style: italic;
}

.featured{
    font-weight: bold;
}

/*image styling*/
figure{
    border: var(--border1);
    border-top-left-radius: var(--borradmid);
    border-top-right-radius: var(--borradlarge);
    height: fit-content;
}

.foodPic img{
    width: var(--photo);
    height: var(--photo);
    object-fit: cover;
    border-top-left-radius: var(--borradmid);
    border-top-right-radius: var(--borradlarge);
}

.foodPic figcaption{
    text-align: center;
    margin: 10px 0;
}

footer{
    background-color: var(--bg);
    color: var(--bgform);
    width: var(--w50);
    padding: var(--m25);
    border-top-left-radius: var(--borradlarge);
    border-top-right-radius: var(--borradlarge);
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 5;
}

footer p{
    font-size: .9em;
    text-align: center;
}

footer a{
    color: var(--text);
    padding: var(--m5);
    text-decoration: none;
    font-style: italic;
}

footer a:hover{
    text-decoration: underline;
}