:root{
    --darkbg: #ef7c24;
    --darkbglighttext: #fff6f0;
    --lightbg: #f4ab6c;
    --lightbgdarktext: #000033;
    --shadow: #dd1f13; 
    --formbackground: #fffcfa;


    --bgcolorone:#BF9E75;
    --bgcolortwo: #F2E0BD;
    --lightblue:#6DA6A0;
    --textcolor:#0D0D0D;

    --borrad:30px;
    --mainwidth:80vw;
    --menuwidth:50vw;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: var(--darkbglighttext);
}

body{
    width:100%;
    margin: 24px auto;
}


/*header styles*/
header{
    width: var(--mainwidth);
    margin: auto;
    height: 200px;
    position: relative;
}

.header{
    display: flex;
    justify-content: center;
    width: 70vw;
    margin: 0 0 0 auto;
}

.heading{
    background-color: var(--darkbg);
    color: var(--darkbglighttext);
    height: 100px;
    margin-top: 2%;
    text-align: right;
    width:100%;
    padding-right: 35px;
    padding-bottom: 0;
    border-top-right-radius: var(--borrad);
    border-bottom-right-radius: var(--borrad);
    z-index: 0;
}

header h1{
    font-size: 3em;
    margin: 10px 0 0 0; 
}

header p{
    margin: 1px 0 0 0; 
    
}

header img{
    width: 250px;
    height: auto;
    position: absolute;
    right: 70%;
    top: -10%;
    z-index: 1;
}

/*nav in header*/
nav{
    position:relative;
    z-index: 2;

}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}

nav li{
    list-style-type: none;
    margin-left: 5px;
    
}

nav li a{
    text-decoration: none;
    color: var(--darkbg);
    font-weight: bolder;
    font-size: 1.5em;
    background-color: var(--formbackground);
    border-radius: var(--borrad);
    padding: 8px;
    box-shadow: 3px 3px 5px var(--shadow);
}
nav li a:hover{
    background-color: var(--shadow);
    color: var(--formbackground);
    
}
nav li a:visited{
    
}

/*body styles*/
.index{
    width: var(--mainwidth);
    gap: 20px;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: auto;
    grid-template-areas: 
    "pickup menu menu"
    "pickup menu menu"
    "pickup foodpic foodpic"
    "partyform foodpic foodpic";
}

#pickup{
    grid-area: pickup;
}

.partyForm{
    grid-area: partyform;
}

.menu{
    grid-area: menu;
}

.foodPic{
    grid-area: foodpic;
}


h2{
    background-color: var(--darkbg);
    color: var(--darkbglighttext);
    padding: .75em;
    text-align: center;
    border-radius: var(--borrad);
    margin: auto;
}

/*room rules exclusive*/
.partyRulesBody{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 75vw;
    margin: auto;
}

.partyRulesBody ol{
    padding: 25px;
}

.partyRulesBody li{
    margin: 10px;
}






/*form styling*/
.forms{
    width: 28vw;
    margin: auto;
    margin-bottom: 30px;
}

form{
    margin: 35px 0;
    border:4px double var(--darkbg);
    border-radius: var(--borrad);
    background-color: var(--formbackground);
}

form h2{
    margin:12px auto;
    width: fit-content;

}

#bookSelection{
    background-color: var(--darkbglighttext);
    width:fit-content;
    margin: auto;
    border: 1px solid var(--shadow);
    border-radius: var(--borrad);
}

form input[type=submit] {
       color: var(--darkbg);
    font-weight: bolder;
    font-size: 1em;
    background-color: var(--darkbglighttext);
    border-radius: var(--borrad);
    padding: 12px;
    box-shadow: 3px 3px 5px var(--shadow);
    margin: 15px ;
    border: 1px solid var(--shadow);
}

form input[type=submit]:hover {
    background-color: var(--shadow);
    color: var(--formbackground);
}

form input[type=checkbox]:hover{
    box-shadow: 1px 1px 3px var(--shadow);
}

form label input{
    background-color: var(--darkbglighttext);
    border-radius: var(--borrad);
    border: 1px solid var(--shadow);
}

/*not what I was looking for*/
form label input:active form label input:focus{
    border-color: var(--shadow);
}

label[name="rulesCheck"]{
    font-style: italic;
}

label{
    display: block;
    margin: 20px;
}

.forms h2{
   margin-top: -3vh; 
}

/*contact exclusive form styling*/
.contact form{
    width: 50vw;
    margin: auto;
}

/*table styles*/
.menu h2{
    width:var(--menuwidth);
    font-size: 2.5em;
}

.menu{
margin-left: auto;
margin-top: 35px;
}

table{
    margin-top: 25px;
    width: var(--menuwidth);
}

table thead{
    color: var(--darkbg);
    font-size:2em;
    padding:100px;
}

th{
    border-radius: var(--borrad);
    border-bottom: 3px solid var(--darkbg);
    box-shadow: 2px 2px 8px;
    background-color: var(--formbackground);
}
table tbody{
    background-color: var(--lightbg);
}

td{
    padding:10px;
}
tr:nth-child(odd){
    background-color: var(--formbackground);

}

table span{
    font-size: 1rem;
    font-style: italic;
}

/*image styling*/
.foodPic {
    grid-area: foodpic;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    height: fit-content;
    margin-top: -200px;
}

figure{
    border: 1px solid black;
    box-shadow: 1px 1px 3px var(--shadow);
    border-radius: 3px;
    border-top-right-radius: 18px;
}

.foodPic img{
    width: 15vw;
    height: 15vh;
    border-radius: 3px;
    border-top-right-radius: 18px;
}

.foodPic figcaption{
    text-align: center;
    padding: 10px;
}

/*footer styling*/
footer{
    width: 100%;
    text-align: center;
    background-color: var(--darkbg);
    color: var(--formbackground);
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
}

footer p{
    margin: 0;
    font-size: .9;
    font-style: italic;
}

footer a{
    color: var(--darkbglighttext);
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover{
    text-decoration: underline;
}